/* common css section start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

P{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    font-family: 'Abril Fatface', cursive;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* 
img{
    display: block;
} */

ul{
    list-style-type: none;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-3{
    width: calc(100% / 3);
}

.w-20{
    width: 20%;
}


.justify-content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
/* common css section end */



/* head css section start */

#header #top_bar{
    background-color: #0f2f44;
}

#header #top_bar .row{
    justify-content: space-between;
}

#header #top_bar .p1{
    font-size: 16px;
    color: #fefefe;
    font-family: 'Ubuntu', sans-serif;
    padding: 18px 0;
}

/* head css section end */


/* nav css section start */
nav{
    background-color: white;
    text-align: justify;
   
}


nav div.row{
    align-items: center;
}

nav .logo{
    width: 25%;
}

nav div.menu{
    width: 75%;
}

nav div .menu ul{
    justify-content: flex-end;
}

nav .menu ul li a{
    color: #222222;
    text-transform: capitalize;
    padding: 29px 20px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: 0.6s;
}

nav .menu ul li a:hover{
    background-color: rgba(245, 191, 14, 0.2);
    color: gold;
}

nav .menu ul li button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 22px;
    margin-right: 10px;
    transition: 0.68s;
    color: #bfbfbf;
    border: none;
    margin-left: 5px;
}

nav .menu ul li button:hover{
    color: black;
    background-color: red;
    cursor: pointer;
}

/* nav section css end */


/* bannar section css start */

#bannar{
    height: 600px;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#bannar .h2_1{
    padding-top: 140px;
}

#bannar .h2_1{
    font-size: 50px;
    font-weight: 300;
    color: #0f2f44;
}

#bannar .h1_1{
    font-size: 80px;
    color: #0f2f44;
    text-transform: uppercase;
}

#bannar .h3_1{
    font-size: 32px;
    font-weight: 400;
    color: #8484bf;
    letter-spacing: 17px;
}

#bannar .p2{
    font-size: 14px;
    color: #444444;
    width: 470px;
    padding: 15px 0;
   margin-bottom: 16px;
}

#bannar .bannar_ancor{
    background-color: #8484bf;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 16px;
    border-radius: 5px;
    margin-right: 20px;
    transition: 0.75s;
}


#bannar .bannar_ancor:hover{
    background-color: gold;
    color: black;
}


#bannar button{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    transition: 0.7s;
    font-size: 30px;
}

#bannar button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

/* bannar css section end */